body{
    font-family:calibri;  
    padding:.25em;  
}
.form-control{
    margin:.25em 0 .25em 0;
}

#menu ul{
    list-style: none;
}
#menu li{
    text-transform: capitalize;
    padding:.1em;
    margin: .5em;
    display:inline-block;
}

table th{text-align:left;font-weight:bolder;text-transform: capitalize;}